.listGroup {
    display: flex;
    justify-content: space-evenly;
}

.CardItem {
    display: flex;
    background-color: #ffff;
    flex-direction: column;
    width: 250px;
    height: 400px;
    box-shadow: 0 0.1rem 0.4rem rgba(0, 0, 0, 0.45);
    transition: all .38s ease;
}

.ItemImg {
    width: 150px;
}

p{
    font-size: 20px;
}

.Option {
    margin: auto;
    padding: 13px;
    border: none;
    background-color: #c0c0c0;
}

h1{
    margin: 50px;
}