.App {
  text-align: center;
}

button{
  border: none;
  margin: 10px;
  padding: 10px;
  background-color: #c1c1c1;
}

h1{
  text-align: center;
  margin: 25px;
}

.carrito {
  font-size: 30px;
}

li{
  list-style-type: none;
}